/* 公共样式修改 */
.aside-list li:nth-child(3) .layer {
    background-color: white;
    color: #14916a;
    border-radius: 26rem 0 26rem 0;
}

header {
    background-image: url(../img/case/bg.jpg);
    height: 339rem;
}

/* 内容 */
.case {
    overflow: auto;
    text-align: center;
}

/* 标题 */

.case-title span {
    max-width: 585rem;
    color: #333;
    font-size: 36rem;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 47rem;
}

/* 副标题 */
.case-subtitle {
    position: relative;
    border-radius: 22rem 0 22rem 0;
    border: solid 1rem #d3d3d3;
    padding: 0 60rem;
    display: inline-block;
    height: 44rem;
    margin-top: 8rem;
    min-width: 386rem;
    box-sizing: border-box;
}

.case-subtitle span {
    max-width: 585rem;
    font-size: 20rem;
    color: #aaaa;
    line-height: 44rem;
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.case-subtitle::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    height: 3px;
    width: 120rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(19, 145, 106);
}

/* 图片 */
.case-imgs {
    margin-top: 25rem;
}

.case-imgs .layer {
    width: 709rem;
    height: 481rem;
    background-size: 100%;
    margin: auto;
    overflow: auto;
    margin-bottom: 19rem;
    position: relative;
}

.case-imgs li:nth-child(1) .layer {
    background-image: url(../img/case/case-img1.jpg);
}

.case-imgs li:nth-child(2) .layer {
    background-image: url(../img/case/case-img2.jpg);
}

.case-imgs li:nth-child(3) .layer {
    background-image: url(../img/case/case-img3.jpg);
}

.case-imgs li:nth-child(4) .layer {
    background-image: url(../img/case/case-img4.jpg);
}

/* 覆盖 */
.case-cover {
    height: 407rem;
    width: 638rem;
    background-color: rgba(0, 0, 0, .7);
    font-size: 40rem;
    color: #f3f3f3;
    margin-top: 43rem;
    margin-left: 33rem;
    overflow: auto;
    opacity: 0;
    transition: all 0.3s;
}

.case-cover span {
    display: inline-block;
    margin-top: 172rem;
    margin-left: -8rem;
    max-width: 570rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s 0.3s;
}

.layer:hover .case-cover {
    opacity: 1;
}

.layer:hover .case-cover span {
    opacity: 1;
    transition-delay: 0s;
}

.case-imgs .layer::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 51px 0;
    border-color: transparent rgba(19, 145, 106, .5) transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

/* 按钮 */
.case-btn {
    width: 707rem;
    margin: 80rem auto 70rem
}

.case-btn::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    max-width: 172rem;
    height: 60rem;
    padding-left: 38rem;
    padding-right: 50rem;
    color: #fff;
    background-color: rgb(19, 145, 106);
    border-radius: 30rem 0 30rem 0;
    font-size: 28rem;
    line-height: 60rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    position: relative;
}

.btn a {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
}

.btn:nth-child(2) {
    float: right;
}