/* 公共样式修改 */
.aside-list li:nth-child(6) .layer {
    background-color: white;
    color: #14916a;
    border-radius: 26rem 0 26rem 0;
}

header {
    background-image: url(../img/detail/banner.jpg);
    height: 339rem;
}

/* 内容 */
.detail {
    overflow: auto;
    text-align: center;
}

/* 标题 */

.detail-title span {
    max-width: 585rem;
    color: #333;
    font-size: 36rem;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 47rem;
}

/* 副标题 */
.detail-subtitle {
    position: relative;
    border-radius: 22rem 0 22rem 0;
    border: solid 1rem #d3d3d3;
    padding: 0 60rem;
    display: inline-block;
    height: 44rem;
    margin-top: 8rem;
    min-width: 386rem;
    box-sizing: border-box;
}

.detail-subtitle span {
    max-width: 585rem;
    font-size: 20rem;
    color: #aaaa;
    line-height: 44rem;
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.detail-subtitle::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    height: 3px;
    width: 120rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(19, 145, 106);
}

/* 有背景标题 */
.detail-title-text {
    margin-top: 36rem;
    width: 750rem;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 0 20rem;
}

.detail-title-text .title {
    font-size: 36rem;
    color: #333;
    text-align: left;
    margin-top: 23rem;
}

.subtitle {
    font-size: 20rem;
    margin-top: 22rem;
    margin-bottom: 17rem;
    text-align: left;
}

.green {
    color: #14916a;
}

.subtitle span:nth-child(2) {
    margin-right: 24rem;
}

.subtitle span:nth-child(4) {
    display: inline-block;
    max-width: 150rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

/* 浅色文章 */
.detail-title-text~* {
    text-align: left;
}

.des {
    width: 648rem;
    line-height: 36rem;
    color: #999;
    margin-top: 22rem;
    font-size: 24rem;
    margin-bottom: 28rem;
    box-sizing: border-box;
    padding: 0 20rem;
}

/* 正文 */
.article {
    font-size: 24rem;
    color: #333;
    line-height: 36rem;
    box-sizing: border-box;
    padding: 0 20rem;
}

/* 文章中图片 */
.des-img {
    width: 707rem;
    height: 469rem;
    background-size: 100%;
    background-image: url(../img/detail/bg.jpg);
    margin: 30rem auto;
}

/* 按钮 */
.btn {
    height: 60rem;
    width: 708rem;
    margin: auto;
    border-radius: 30rem 0 30rem 0;
    background-color: #14916a;
    color: #fff;
    font-size: 28rem;
    line-height: 60rem;
    position: relative;
    overflow: hidden;
}

.btn-title {
    width: 137rem;
    display: inline-block;
    height: 60rem;
    box-sizing: border-box;
    padding-left: 36rem;
    border-right: 1px solid rgba(255, 255, 255, .3);
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-des {
    display: inline-block;
    margin-left: 19rem;
    max-width: 500rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn1 {
    margin-top: 75rem;
    margin-bottom: 60rem;
}

.btn2 {
    margin-bottom: 70rem;
}

.btn a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}